@model VeriWork_Admin.Application.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeriWork</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/VeriWork_Admin.styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@700&family=Inter:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>

    <div class="page">
        <header class="login-header">
            <img src="~/images/white_logo.png" alt="VeriWork Logo" class="login-header-logo" />
        </header>

        <div class="login-container">
            <form class="login-form" asp-controller="Auth" asp-action="Login" method="post">
                <img src="~/images/black_logo.png" class="login-form-logo" alt="Logo">
                
                <h1 class="login-form-welcome-text">Welcome to VeriWork</h1>
                
                <p class="login-form-welcome-subtext">Securely manage employee verification.</p>

                @{
                    // This variable will be used to apply the error class to the inputs
                    var errorClass = ViewData.ModelState.IsValid ? "" : "input-error";
                }

                <div class="textbox">
                    <label asp-for="Email" class="label">Email or Username</label>
                    <input asp-for="Email" class="@errorClass" placeholder="Enter your email" required autofocus>
                </div>

                <div class="textbox">
                    <label asp-for="Password" class="label">Password</label>
                    <input asp-for="Password" type="password" class="@errorClass" placeholder="Enter your password" required>

                </div>
                
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <a href="#" class="forgot-password-text">Forgot Password?</a>

                <button class="login-button" type="submit">Sign in</button>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @ViewBag.Error
                    </div>
                }


                <p class="login-form-bottom-text">
                    By clicking “Sign in”, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.
                </p>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>